[submodule "ExternalScripts(DONOTINCLUDEINRELEASE)/BlizzardInterfaceCode"]
	path = ExternalScripts(DONOTINCLUDEINRELEASE)/BlizzardInterfaceCode
	url = https://github.com/tomrus88/BlizzardInterfaceCode.git
	branch = wrath
[submodule "ExternalScripts(DONOTINCLUDEINRELEASE)/vscode-wow-api"]
	path = ExternalScripts(DONOTINCLUDEINRELEASE)/vscode-wow-api
	url = https://github.com/Ketho/vscode-wow-api
