```
# Dependencies
node_modules/

# Editor/IDE files
.vscode/
.idea/
*.swp
*.swo
*.tmp

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Compressed files
*.zip
*.gz
*.tar
*.tgz
*.bz2
*.xz
*.7z
*.rar
*.zst
*.lz4
*.lzh
*.cab
*.arj
*.rpm
*.deb
*.Z
*.lz
*.lzo
```