*.json

**/output/
**/translations/data/

quest_data.lua
npc_data.lua
npc_data_db.lua
item_data.lua
item_drop_data_wowhead.lua
item_drop_data_cmangos.lua
object_data.lua
object_names_*.lua
object/translations/lookups

response.html

quest/sod_translations/quest_data_*.lua
