name: CI

on:
  workflow_call:
    inputs:
      event_name:
        required: true
        type: string
      repo_full_name:
        required: true
        type: string
  push:
    branches:
      - '**'
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  ci:
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    steps:
      - name: Checkout project
        uses: actions/checkout@v6

      - name: Install Lua
        run: |
          sudo apt-get install lua5.1 luarocks
          sudo luarocks install bit32
          sudo luarocks install busted
          sudo luarocks install luafilesystem

      - name: Install Lua Language Server
        run: |
          LUA_LS_VERSION=$(curl -s https://api.github.com/repos/LuaLS/lua-language-server/releases/latest | jq -r .tag_name)
          curl -L -O https://github.com/LuaLS/lua-language-server/releases/download/${LUA_LS_VERSION}/lua-language-server-${LUA_LS_VERSION}-linux-x64.tar.gz
          mkdir -p lua-language-server
          tar -xzf lua-language-server-${LUA_LS_VERSION}-linux-x64.tar.gz -C lua-language-server
          echo "$PWD/lua-language-server/bin" >> $GITHUB_PATH

      - name: Run busted Unit Tests
        run: |
          busted -p ".test.lua" .
          rm -rf cli/output

      - name: Validate Era database
        run: lua cli/validate-era.lua

      - name: Validate SoD database
        run: lua cli/validate-sod.lua

      - name: Validate TBC database
        run: lua cli/validate-tbc.lua

      - name: Validate WotLK database
        run: lua cli/validate-wotlk.lua

#      - name: Validate Cata database
#        run: lua cli/validate-cata.lua

      - name: Validate MoP database
        run: lua cli/validate-mop.lua

      - name: Validate Localized database
        run: lua cli/validate-localization.lua

      - name: Run Lua Language Server Check
        run: lua-language-server --check=. --checklevel=Warning --configpath=.luarc.json

      - name: Upload correction files
        uses: actions/upload-artifact@v6
        with:
          name: correction-files
          path: cli/output/
        if: success() || failure()

      - name: Send CI failure to Discord
        uses: nebularg/actions-discord-webhook@v1.0.0
        with:
          webhook_url: ${{ secrets.DISCORD_WEBHOOK }}
          status: ${{ job.status }}
        if: ${{ failure() }}
