name: Publish

on:
  push:
    tags:
      - 'v*'

jobs:
  tests:
    uses: './.github/workflows/ci.yml'
    with:
      event_name: ${{ github.event_name }}
      repo_full_name: ${{ github.repository }}
  publish:
    runs-on: ubuntu-latest
    needs: [ tests ]

    env:
      GH_TOKEN: ${{ github.token }}
      CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
      WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}

    steps:
      - name: Clone project
        uses: actions/checkout@v4
        with:
          fetch-depth: 100

      - name: Fetch tags
        run: git fetch --prune --unshallow --tags

      - name: Generate Changelog
        id: changelog
        run: python changelog.py >> CHANGELOG.md

      - name: Build ZIP
        run: python build.py -r

      - name: Create GitHub release
        run: >
          gh release create ${{github.ref_name}}
          --verify-tag
          -F CHANGELOG.md
          releases/${{github.ref_name}}/Questie-${{github.ref_name}}.zip
          releases/${{github.ref_name}}/release.json

      - name: Upload CurseForge
        run: sh upload-cf.sh ${{github.ref_name}}

      - name: Upload WAGO
        run: sh upload-wago.sh ${{github.ref_name}}
